/.quarto/
/_book/
*_files/
/site_libs/
# Quarto HTML render artifacts in source dirs
*.html
!js/*.html
*.rdb
*.rdx
.Rproj.user
.Rhistory
.RData
__pycache__/
*.py[cod]
.DS_Store

**/*.quarto_ipynb

/.luarc.json
*.tex
*.log
